*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    font-family: Montserrat;
    overflow-x: hidden;
}
/* navbar section */
.navbar {
    background-color: #2f2e41;
}

.navbar a {
    font-size: 18px;
    margin-left: 50px;
    color: #00bfa6 !important;
}

.navbar a:hover {
    font-weight: 700;
}

.navbar a:nth-child(1) {
    font-weight: 700;
}

.navbar-artikel {
    margin-top: 60px;
    height: 30px;
    background-color: #c4c4c4;
    text-transform: uppercase;
}
.navbar-artikel .container a {
    color: #2f2e41 !important;
}

.navbar-artikel .container .popular {
    color: #ff1818;
}
/* navbar section */

/* carouseel section */
section.carousel {
    background-color: #3f3d56;
    height: 450px;
    margin-top: 60px;
}

section.carousel .text-carousel {
    font-family: Lora;
    text-align: center;
    color: #e5e5e5;
}

section.carousel .img-carousel {
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 450px;
}

/* caroussel section */

/* searchbox */

.row-search{
    margin-top: -65px;
}

.search-form {
    padding: 0px;
    border: 5px solid #00bfa6;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5);
}

.search-form input {
    height: 60px;
    width: 80% !important;
    background-color: #2f2e41;
    font-size: 20px;
    border-radius: 0;
    border: 0px !important;
}

.search-form button {
    background-color: #2f2e41;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #00bfa6;
    transition: 0.8s;
    width: 20%;
    height: 60px;
    box-shadow: none;
    border-radius: 0;
    border-left: 5px solid #00bfa6;
}

.search-form button:hover {
    background-color: #00bfa6;
    color: #2f2e41;
    transition: 0.8s;
}

.search-form input:focus {
    box-shadow: none;
    color: #00bfa6;
}

/* Desktop */
@media only screen and (min-width: 600px) {
    .search-form {
        padding: 0px;
        margin-top: 30px;
        border: 5px solid #00bfa6;
        border-radius: 10px;
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5);
    }
}

/* searchbox */

/* portal-informasi */

/* Mobile */
.portal-informasi {
    height: 500px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.portal-informasi .portal-container {
    margin-bottom: 20px;
}

.portal-informasi .portal-container h4 {
    font-size: 30px;
    color: #00bfa6;
    font-weight: 700;
    text-transform: uppercase;
}

.portal-informasi .figure .figure-img {
    position: relative;
}
.portal-informasi .figure .figure-img img.figure-img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.portal-informasi .figure .figure-img a {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 10px;
    transition: 0.5s;
    width: 250px;
    height: 250px;
}

.portal-informasi .figure .figure-img a:hover {
    opacity: 1;
    transition: 0.5s;
}

.portal-informasi .figure .figure-caption .judul{
font-weight: 700 !important;
font-size: 18px;
}

.portal-informasi .card{
    background-color:#ECECEC;
    border-radius: 20px;
}

.portal-informasi .card:hover{
    box-shadow:2px 2px 15px  rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    .portal-informasi {
        height: 800px;
        padding-top: 150px;
        padding-bottom: 150px;
    }


    .portal-informasi .portal-container {
        margin-bottom: 20px;
    }
}
/* portal-informasi */

/* Info Kesehatan */
section.info-kesehatan {
    height: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #edeef2;
}
section.info-kesehatan .judul{
    font-weight: 700;
    color: #2f2e41;
    text-transform: uppercase;
}

section.info-kesehatan .info-kesehatan-container h4 {
    font-size: 30px;
    color: #00bfa6;
    font-weight: 700;
    text-transform: uppercase;
}

section.info-kesehatan .info-kesehatan-container {
    margin-bottom: 20px;
}

section.info-kesehatan .info-carousel .carousel {
    height: 400px;
}

section.info-kesehatan .info-carousel .carousel .img-carousel {
    height: 290px;
    width: 350px;
    border-radius: 20px;
}
/* Info Kesehatan */

/* penyakit-infeksi */
section.penyakit-infeksi {
    height: 500px;
    background-color: #edeef2;
    padding-top: 100px;
    padding-bottom: 100px;
}

section.penyakit-infeksi .penyakit-container h4 {
    font-size: 30px;
    color: #00bfa6;
    font-weight: 700;
    text-transform: uppercase;
}
/* penyakit-infeksi */

/* Developer */
section.developer {
    height: 400px;
    padding-top: 50px;
    padding-bottom: 100px;
}

section.developer .developer-container h4 {
    font-size: 30px;
    color: #00bfa6;
    font-weight: 700;
    text-transform: uppercase;
}

section.developer .container .figure .figure-img {
    position: relative;
}

section.developer .container .figure .figure-img a {
    position: absolute;
    top: 0;
    right: 70px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s;
}

section.developer .container .figure .figure-img a:hover {
    opacity: 1;
    transition: 0.5s;
}

/* Developer */

/* footer */
footer.footer {
    height: 320px;
    background-color: #2f2e41;
    padding-top: 50px;
}

footer.footer .footer-title {
    font-weight: 700;
    color: #00bfa6;
    text-transform: uppercase;
    font-size: 22px;
}

footer.footer .footer-link {
    text-transform: uppercase;
    color: #edeef2;
    font-size: 18px;
    font-weight: 400;
}

footer.footer .footer-link:hover {
    color: #00bfa6;
    text-decoration: none;
    font-weight: 600;
}

footer.footer .footer-copyright {
    color: #00bfa6;
}
/* footer */

/* breadcrumb */
.breadcrumb-row {
    margin-top: 100px;
}

/* breadcrumb */

/* article big-image */
.row-main {
    margin-bottom: 50px;
}

.row-main .big-image .figure .figure-img {
    width: 700px;
    height: 450px;
    overflow: hidden;
    border-radius: 60px;
    position: relative;
}
.row-main .big-image .figure .figure-img .judul{
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-weight: 700;
    color: #fff;
    font-size: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


.row-main .big-image .figure .figure-img .judul:hover{
    color: #FFC539;
    cursor: pointer;
    text-decoration: none;
}

.row-main .big-image .figure .figure-img .date{
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    color: #00bfa6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


.row-main .big-image .figure .figure-img img {
    width: 100%;
    height: 100%;
    -webkit-filter:brightness(80%); 
}

.row-main .big-image .figure .figure-img img:hover {
    transform: scale(1.5);
    transition: 1.5s;
    cursor: pointer;
}
/* article big-image */

/* article-medium-image */
.row-main .medium-image .figure .figure-img {
    width: 700px;
    height: 300px;
    overflow: hidden;
    border-radius: 60px;
    position: relative;
}

.row-main .medium-image .figure .figure-img .judul{
    position: absolute;
    left: 30px;
    bottom: 60px;
    font-weight: 700;
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


.row-main .medium-image .figure .figure-img .judul:hover{
    color: #FFC539;
    cursor: pointer;
    text-decoration: none;
}
.row-main .medium-image .figure .figure-img .date{
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    color: #00bfa6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


.row-main .medium-image .figure .figure-img img {
    width: 100%;
    height: 100%;
    -webkit-filter:brightness(80%);
}

.row-main .medium-image .figure .figure-img img:hover {
    transform: scale(1.5);
    transition: 1.5s;
    cursor: pointer;
}
/* article-medium-image */

/* article-long-image */
.row-main .long-image .figure .figure-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 60px;
}

.row-main .long-image .figure .figure-img img {
    width: 100%;
    height: 100%;
}

.row-main .long-image .figure .figure-img img:hover {
    transform: scale(1.5);
    transition: 1.5s;
    cursor: pointer;
}
/* article-long-image */

/* single-article */
section.single-article {
    padding-bottom: 100px;
}

section.single-article .row-judul h4 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
    color: #3f3d56;
}


section.single-article .row-date h4 {
    color:#3f3d56;
}
section.single-article .row-img-single .img-single {
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

section.single-article .row-isi p {
    font-size: 18px;
}

.sumber {
    font-size: 20px;
}
/* single-article */

/* artikel-penyakit */
section.artikel-penyakit {
    padding-bottom: 100px;
}

section.artikel-penyakit .figure {
    margin: 30px 62px;
}
section.artikel-penyakit .figure .figure-img {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
}

section.artikel-penyakit .figure .figure-img img {
    width: 100%;
    height: 100%;
}

section.artikel-penyakit .figure .figure-img img:hover {
    transform: scale(1.5);
    transition: 1.5s;
    cursor: pointer;
}
/* artikel-penyakit */

/* section developer */
section.developer-single {
    height: 400px;
    background-color: #c4c4c4;
    margin-bottom: 100px;
}

section.developer-single .container-developer {
    margin-top: 400px;
}

section.developer-single .container-developer .row-developer .info {
    margin-left: -40px;
    text-align: center;
}

section.developer-single .container-developer .row-developer .info .name {
    color: #2f2e41;
    font-size: 40px;
    font-family: Lora;
}

section.developer-single .container-developer .row-developer .info .role {
    color: #00bfa6;
    font-size: 30px;
    font-family: Lora;
}

section.developer-single .container-developer .row-developer img {
    border: 3px solid #00bfa6;
    width: 200px;
    height: 200px;
}

section.bio {
    margin: 200px 0;
}

section.bio .row-judul h4 {
    font-size: 40px;
    font-weight: 700;
    color: #00bfa6;
}

section.bio .row-bio p {
    font-size: 18px;
}
/* section developer */

/* section hasil-diagnosa */
section.hasil-diagnosa .hasil-diagnosa h4 {
    font-size: 40px;
    font-weight: 700;
    color: #2f2e41;
}

section.hasil-diagnosa .saran h4 {
    color: #2f2e41;
    font-weight: 700;
    font-size: 30px;
}

section.hasil-diagnosa .saran {
    margin: 50px 0;
}

section.hasil-diagnosa .img {
    margin-bottom: 100px;
}
/* section hasil-diagnosa */

/* section diagnosa */
section.diagnosa {
    padding-top: 150px;
    padding-bottom: 100px;
}
/* section diagnosa */
